.button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: all .1s ease;
}

.button_type_function {
  width: 50px;
}

.Delete {
  width: 50px;
}

.Backspace {
  width: 140px;
}

.Tab {
  width: 85px;
}

.CapsLock {
  width: 140px;
}
.Enter {
  width: 105px;
}

.ShiftLeft {
  width: 140px;
}

.ShiftRight {
  width: 105px;
}

.Space {
  width: 415px;
}

.active {
  background: #6389cf;
  border-radius: 20px;
}

.button:hover,
.systemButton:hover {
  background: #6389cf;
}